{% extends 'base.html' %}

{% block content %}
       <div style="width:500px;margin:0 auto">
        <form action="/post/create/" method="post">
            {% csrf_token %}

            <div>
                <input type="text" name="title" value="{{article.title}}">

            </div>
            <div>
                <textarea name="content" id="" cols="100" rows="20">{{article.content}}</textarea>
            </div>
            <input type="submit" name="提交">
        </form>
    </div>

{% endblock %}
